.btn{
    a, button{
        display: inline-block;
        padding: 15px 24px 19px;
        @include utileDisplay;
        font-weight: 500;
        @include fontSize(18,5);
        color: $white;
    }
    &_orange{
        a, button{
            background: $orangeAccent;
            transition: background 0.3s;
            &:hover{
                background: $darkBlue;
            }
        }
    }
    &_icon{
        a, button{
            position:relative;
            padding: 16px 46px 18px 24px;
            &::after{
                position: absolute;
                top: 50%;
                right: 24px;
                transform: translate(0, -50%);
                width:14px;
                height: 18px;
                @include background('account/icon_lock.svg', center, no-repeat, contain);
                content: "";
            }
        }
    }
    @include media(false, tablet) {
        a, button{
            padding: 15px 24px 19px;
        }
        &_icon{
            a, button{
                position:relative;
                padding: 16px 46px 18px 24px;
                &::after{
                    position: absolute;
                    top: 50%;
                    right: calc(50% - 36px);
                    transform: translate(0, -50%);
                    width:14px;
                    height: 18px;
                    @include background('account/icon_lock.svg', center, no-repeat, contain);
                    content: "";
                }
            }
        }
    }
}

.title_area{
    margin-bottom: 53px;
    text-align: center;
    h2{
        @include utileDisplay;
        font-weight: 500;
        @include fontSize(52,0,76);
    }
    p{
        margin-top: 8px;
        @include fontSize(24,0,40);
    }
    @include media(false, tablet) {
        margin-bottom: 40px;
        h2{
            @include fontSize(38,0,50);
        }
        p{
            margin-top: 8px;
            @include fontSize(20,-1,30);
        }
    }
}


.input_wrap{
    margin-bottom: 35px;
    &:last-child{
        margin-bottom: 0;
    }
    &_radio{
        margin-bottom: 16px;
        font-size: 0;
        &:last-child{
            margin-bottom: 0;
        }
    }
    @include media(false, tablet) {
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
        &_radio{
            margin-bottom: 16px;
        }
    }
}
label{
    display: block;
    span{
        display: inline-block;
        @include fontSize(16);
        vertical-align: middle;
    }
    input[type=text], input[type=password]{
        display: block;
        width: 100%;
        height: 40px;
        margin-top: 8px;
        border: none;
        border-bottom: 1px solid $darkBlue;
    }
    input[type=radio]{
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        vertical-align: middle;
    }
    textarea{
        width: 100%;
        height: 80px;
        margin-top: 8px;
        border: none;
        border-bottom: 1px solid $darkBlue;
    }
    @include media(false, tablet) {
        display: block;
        input[type=radio]{
            width: 20px;
            height: 20px;
        }
        textarea{
            height: 60px;
        }
    }
}