@charset "UTF-8";

/* font */
$utileDisplay: 'utile-display', sans-serif;

/* base */
$fontSize-default: 16;

/* color */
$darkBlue:#13353E;
$orangeAccent:#D64000;
$white: #ffffff;


$gridCount: 12;
$gutter: 48;

/* image path */
$imgPath: "../../resources/images/";
